<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>masterchef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87B52EE61BA8E3EA008175BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B52EFF1BA8E3EB008175BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B52F0A1BA8E3EB008175BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
